.element {
    border: 8px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 25px;
}

#Header {
    width: 500px;
    box-shadow: 7px 7px;
    opacity: 0.8;
}

#Header h1 {
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold;
    animation-name: anAnimation;
    animation-duration: 5s;
}

#LeftNav {
    width: 400px;
    float: left;
    padding-bottom: 8px;
    border-radius: 25px;
    box-shadow: 15px 15px;
    opacity: 0.8;
}

#Content {
    width: 700px;
    padding: 15px;
    box-shadow: 7px 7px;
}

#Footer {
    box-shadow: 10px 10px;
    opacity: 0.8;
}

#bow {
    color: #FFBC00;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

p {
    font-weight: bold;
    color: white;
    font-family: Arial;
    text-shadow: 2px 2px 5px gold;
}

li {
    text-shadow: 2px 2px 5px gold;
}

h3 {
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
    animation-name: anAnimation;
    animation-duration: 5s;
}

div {
    background-color: #8E41D5;
}

body {
    background-image: url('dark_wood.png');
    text-align: center;
}

a {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

@keyframes anAnimation {
    from {color: white;}
    to {color: #FFBC00;}
}