.imageTextContainer {
    position: relative;
    text-align: center;
}

.centeredText {
    font-size: large;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.masterDiv {
    margin: 10px;
    border: 1px solid blue;
    border-radius: 25px;
    width: 50%;
    float: left;
}

.leftFloater {
    text-align: center;
    border-radius: 25px;
    color: white;
    margin: 5px;
    width: 75px;
    height: 150px;
    float: left;
    background: blue;
}

.rightFloater {
    text-align: center;
    border-radius: 25px;
    color: white;
    margin: 5px;
    width: 75px;
    height: 150px;
    float: right;
    background: blue;
}